html,
body {
  background: white;
  color: black;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

body {
  font-weight: 400;
}




button {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: grid;
  margin: 0 auto;
  border: none;
  background: blueviolet;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: white;
   
}



button:disabled {
  cursor: not-allowed;
}

h1 {
  font-size: 20px;
  text-align: center;
}

.intro-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 50%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,0.3);
  outline: gold solid 8px;
  
  background:white;
  padding: 40px;
  color: black;
  display: flex;
  align-items: center;
  
}
